/*Обнуление*/
*{padding: 0;margin: 0;box-sizing: border-box;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
ul li{list-style: none;}
a{text-decoration: none;}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.woff');
	src: local('☺'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Bold.woff');
	src: local('☺'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

body {
	overflow-x: hidden;
}

.wrap {
	max-width: 640px;
	margin: 0 auto;
	font-family: 'OpenSans', 'Arial', sans-serif;
	display: flex;
	flex-direction: column;
	position: relative;
}
.header {
	width: 100%;
	background-color: #000000;
	background: url('../images/banner-mobile.jpg') center / cover no-repeat;
	padding: 31px 34px 210px;
	position: relative;
}
.header::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 2;
}
.header-content {
	margin: 0 auto;
	position: relative;
	z-index: 3;
	color: #ffffff;
	text-align: center;
}
.header__title a {
	color: #ffffff;
}
.header-link {
	margin-top: 20px;
}
.header-link a {
	color: #ffffff;
	text-transform: uppercase;
	padding: 20px;
}


.menu-burger {
	display: block;
	margin-left: auto;	
	margin-bottom: 174px;
	position: relative;
	left: 20px;
	width: 23px;
	height: 22px;
	transition: all 0.3s ease 0s;
	z-index: 6;
}

.menu-burger::before,
.menu-burger::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: #ffffff;
	left: 0;
	transition: all 0.3s ease 0s;
}
.menu-burger::before {
	top: 0px;
}
.menu-burger::after {
	bottom: 0px;
}
.menu-burger span {
	position: absolute;
	left: 0;
	background-color: #ffffff;
	width: 100%;
	height: 4px;
	top: 9px;
	transition: all 0.3s ease 0s;
}
.menu-burger.active::before {
	content: "";
	transform: rotate(45deg);
	top: 10px;	
}
.menu-burger.active::after {
	content: "";
	transform: rotate(-45deg);
	bottom: 8px;
}
.menu-burger.active span {
	transform: scale(0);
}
.header__menu {
	display: block;
	position: fixed;
	top: -100%;
	left: 0;
	overflow: auto;
	width: 100%;
	height: 50%;
	background-color: rgba(181, 159, 91, 0.8);
	padding: 82px 0 0 0;
	z-index: 5;
	transition: all 0.3s ease 0s;
	
}
.header__menu.active {
	transition: all 0.3s ease 0s;
	top: 0;

}
.header-link {
	color: #ffffff;
}
.header__logo,
.header__logo1 {
	margin: 0 auto;
	width: 269px;
	height: 61px;	
}
.header__logo1 {
	display: none;
}
.header__title {
	margin-top: 34px;
}
.header__title h1 {		
	font-size: 26px;
	letter-spacing: -0.9px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
}
.main {
	width: 100%;
	flex: 1;
}
.trend {
	background-color: #ffffff;
}
.trend-heading {
	padding: 42px 0 36px 0;
}
.heading {
	position: relative;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: #0f0d0e;
}
.line::after {
	content: "";
	display: block;
	width: 67px;
	height: 3px;
	position: absolute;
	top: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;	
	opacity: 0.4;
	background-color: #b59f5b;	
}

.trend-item {
	display: flex;
	align-items: flex-end;
	width: 100%;
	min-height: 233px;
	margin-top: 1px;
	padding: 0 16px 16px;
	position: relative;
	background-color: #000000;	
}
.trend-item-1 {background: url('../images/trend1.jpg') 0 0 / cover no-repeat;}
.trend-item-2 {background: url('../images/trend2.jpg') 0 0 / cover no-repeat;}
.trend-item-3 {background: url('../images/trend3.jpg') 0 0 / cover no-repeat;}
.trend-item-4 {background: url('../images/trend4.jpg') 0 0 / cover no-repeat;}

.trend-item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 2;
}
.trend__content {
	width: 100%;
	border: 3px solid #b59f5b;
	padding: 29px 29px 30px;
	position: relative;
	z-index: 3;
}
.trend__category ul {
	display: flex;	
}

@media (orientation: landscape) {
	.trend-items {
		display: flex;
		flex-wrap: wrap;
	}
	.trend-item {
		width: calc(50% - 1px);
	}
	.trend-item:nth-child(even) {
		margin-left: 1px;
	}
}

.category-link {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: #b59f5b;
}
.category-link:hover {
	text-decoration: underline;
}
.trend__list {
	padding-right: 20px;
}
.trend__list:last-child {
	padding-right: 0;
}
.trend__title {
	margin-top: 6px;
	letter-spacing: 0.1px;	
}
.trend__title,
.new__title {
	font-size: 16px;
	line-height: 20px;	
	font-weight: 700;
	text-transform: uppercase;
}
.trend__title a,
.new__title a {
	color: #ffffff;
}
.trend__title a:hover,
.new__title:hover {
	color: #b59f5b;
}

.main__column,
.aside {
	max-width: 360px;
	padding: 41px 12px 0;
	margin: 0 auto;
}
.new {
	position: relative;
}
.line-long::after {
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	position: absolute;
	bottom: 35px;
	background-color: #eeeeee;
}
.new__image {
	width: 329px;
	height: 254px;
}
 
.new__category ul {
	display: flex;	
	margin-top: 12px;
}
.new__list {
	padding-right: 20px;
}
.new__list:last-child {
	padding-right: 0;
}
.new__title {
	margin-top: 6px;
	line-height: 18px;

}
.new__title a {
	color: #0f0d0e;
}
.new__title a:hover {
	color: #b59f5b;
}
.new__footer {
	display: flex;
	margin-top: 16px;
	font-size: 12px;
}
.new__date {
	padding-right: 14px;	
	color: #888888;
}
.new__autor {
	font-weight: 700;
	color: #000000;
}
.new__text {
	margin-top: 15px;
	font-size: 14px;
	line-height: 20px;
	color: #0f0d0e;
}
.new__text p:nth-child(n+2) {
	margin-top: 2px;
}
.new__text p:last-child {
	padding-bottom: 60px;
}

.aside {
	padding-top: 5px;
}
.aside__new {
	display: flex;
	margin: 42px 0 0 0;
}
.aside__new:nth-child(n+3) {
	margin-top: 18px;
}
.aside-heading.line::after {
	top: 28px;
}
.aside__new:last-child {
	margin-bottom: 60px;
}
.aside__image {
	width: 70px;
}
.aside__content {
	align-self: flex-start;
	padding-left: 19px;
}	
.date {
	font-size: 12px;
	color: rgba(0, 0, 0, 0.54);
	margin-top: -3px;
}
.aside__title {
	margin-top: 3px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.aside__title a {		
	color: #000000;
}
.aside__title a:hover {
	color: #b59f5b;
}

.search {
  margin-top: 40px;
}
.search-form {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.search-label {
	flex: 1;
}
.search-input {
  width: 100%;
  height: 49px;
  padding: 18px;
  border: none;
  background-color: #f4f7f6;
}
.search-input:focus {
  outline: none;  
  border: 1px solid #b59f5b;
}
.search-button {
  width: 48px;
  height: 48px;
  border: none;
  background: #b59f5b;
  background-image: url('../svg/search.svg');
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.search-button:hover {
background-color: #323232;
}
.text-input, .text-button {
	width: 1px;
  	height: 1px;
 	clip: rect(1px, 1px, 1px, 1px);
  	position: absolute;
}

.email {
	margin-top: 55px;
}
.email-form {
  position: relative;
  width: 100%;
  margin: 37px auto 0;
}
.email-input {
  width: 100%;
  height: 49px;
  padding: 18px;
  border: none;
  background: #f4f7f6;
}
.email-input:focus {
  outline: none;
  border: 1px solid #b59f5b;
}
.email-button {  
  width: 100%;
  border: none;
  background: #b59f5b;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 17px;
  margin-top: 17px;
}
.email-button:hover {
	background-color: #323232;
}
.line-mail::after {
	top: 29px;
}


.meta{
	margin-top: 41px;
}
.meta-list {
	margin-top: 38px;
	display: flex;
	flex-wrap: wrap;
}
.meta-item {
	margin-bottom: 6px;
	margin-right: 3px;
	padding: 0 13px;
	background-color: rgba(244,243,241,0.0);
	border: 3px solid #eeeeee;
}
.meta-item:hover {
	border: 3px solid #b59f5b;
}
.meta-link {
	font-size: 12px;
	font-weight: 700;
	line-height: 23px;
	text-transform: uppercase;
	color: #0f0d0e;
}

.blogs {
	margin-top: 37px;
}
.blog {
	position: relative;
	margin-top: 38px;		
}
.blog a{
	font-weight: 700;
	color: #000000;
}
.blog a:hover {
   color: #b59f5b;
}
.blog-top {
	margin-top: 29px;
}
.blog a {
	font-weight: 700;
	color: #000000;
}
.blog-number {
	display: inline-block;
	margin-top: -1px;
   margin-left: 1px;
	vertical-align: top;
	font-size: 12px;
	font-weight: 700;
	color: #b59f5b;	
}
.blog-line::after {
	content: "";
	display: block;
	width:100%;
	height: 1px;
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;		
	background-color: #eeeeee;	
}


.products {
	margin-top: 57px;
}
.products-heading.line::after {
	top: 29px;
}
.products-items {
	margin-top: 42px;
}
.product-item:nth-child(n+2) {
	margin-top: -10px;
}
.product__title {
	margin-top: 3px;
}
.product__image {
	margin: 0 auto;
	width: 286px;
	height: 286px;
	position: relative;
}

.product__image img {
	max-width: 100%;
}
.product__content {
	color: #0f0d0e;
	width: 348px;
	min-height: 267px;
	margin: 0 auto;
	border: 3px solid #b59f5b;
	position: relative;
	padding: 38px 20px;
	top: -33px;
}
.product__title {
	font-size: 17px;
	line-height: 22px;
	font-weight: 700;
	text-transform: uppercase;
}
.product__title a {
	color: #0f0d0e;
}
 

.discription-link {
	color: #b59f5b;
}
.discription-link:hover {
	text-decoration: underline;
}
.product__footer {
	margin-top: 24px;
	display: flex;
	justify-content: space-between;
}
.product__price {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 24px;
}
.old-price {
	font-size: 14px;
	text-decoration: line-through;	
}
.new-price {
	font-size: 20px;
}
.opacity-price {
	opacity: 0;
}
.product__button {
	width: 141px;
	height: 49px;
	background-color: #b59f5b;
	font-size: 14px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
}
.product__button:hover {
	background-color: #323232;
}
.product__price span {
	font-family: 'PT Sans', serif;
}



.footer {
	width: 100%;	
	background-color: #f4f7f6;	
	margin: 0 auto 50px;
	padding: 31px 0;
}
.social-item {
	margin-right: 22px;
}
.social-item:last-child{
	margin-right: 0;
}
.social-links {
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-link {
	display: block;
	width: 25px;
	height: 21px;	
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.social-span {
	width: 1px;
  	height: 1px;
 	clip: rect(1px, 1px, 1px, 1px);
  	position: absolute;
}
.social-link1 {
	background-image: url('../svg/004-twitter.svg');
}
.social-link2 {
	background-image: url('../svg/001-pinterest.svg');
}
.social-link3 {
	background-image: url('../svg/002-facebook-logo.svg');
}
.social-link4 {
	background-image: url('../svg/005-instagram.svg');
}
.social-link5 {
	background-image: url('../svg/003-tumblr.svg');
}

.what {
	display: block;
	font-size: 12px;
	font-weight: 700;
	color: #999999;
	margin: 0 auto 40px;
	text-align: center;
}

.popap {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
}
.popap:target {
	opacity: 1;
	visibility: visible;
}
.popap__interview {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.popap__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 11px;
}
.popap__content {
	background-color: #fff;
	color: #000;
	max-width: 500px;
	padding: 30px;
	position: relative;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: translate(0px, -100%);
	margin: 0 auto;
}
.popap:target .popap__content {
	opacity: 1;
	transform: translate(0px, 0px);
}
.popap__close {
	position: absolute;
	right: 0;
   top: -30px;
	width: 20px;
	height: 20px;
	color: #ffffff;
	font-size: 20px;
	font-family: sans-serif;
}

.popap-heading {
	font-family: 'Lato', 'Arial', sans-serif;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: #0f0d0e;
}
.popap-heading.line::after {
	top: 27px;
}





.visit-select {
	display: block;
	margin-top: 38px;
}
.visit span {
	display: block;
	font-family: inherit;

}
.select {
	margin-top: 10px;
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	display: block;
	padding: 15px;
	font-family: inherit;
	font-size: 12px;
	border: none;
	background: #f4f7f6 url('../svg/form-arrows.svg') right 15px center / 10px no-repeat;
}
.select:focus,
.field:focus {
  outline: none;  
  border: 1px solid #b59f5b;
}



.form-radio {
	margin-top: 20px;
	padding-top: 8px;
	font-family: 'OpenSans', 'Arial', sans-serif;
	font-size: 12px;
}

.radio {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
}
.radio-group {
	display: inline-block;
	margin-top: 10px;
}
.radio-text::before {
	display: inline-block;
	content: "";
	background: url(../svg/form-empty-circle.svg) center / 25px no-repeat;
   width: 25px;
   height: 25px;
	margin-right: 5px;
	vertical-align: middle;	
}
.radio-text {
	margin-right: 28px;
}
.radio:checked + .radio-text::before {
	background-image: url('../svg/form-circle.svg');
}

.textarea-title {
	display: block;
}
.field {
	margin-top: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	width: 100%;
	min-height: 130px;
	max-height: 200px;
	padding: 20px;
	background-color: #f4f7f6;
	border: none;

}

.popap__button {
	width: 100%;
	margin: 25px auto 19px;
	padding: 18px 40px;
	background-color:  #b59f5b;
	border: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
	line-height: 13.2px;
	cursor: pointer;
}
.popap__button:hover {
	background-color: #323232;
}


